@use './../../styles/variables' as v;

.container {
    box-sizing: border-box;
    max-width: 960px;
    background-color: v.$primary;
    padding: 1rem;
    margin: 0 auto;
}

.btn {
    margin: 0;
    padding: 0;
}
