@use '../../styles/variables' as v;

.container {
    border: .5rem solid v.$yellow;
    margin-bottom: 1rem;
    color: v.$accent;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-x: hidden;
}

.image {
    background-color: v.$secondary-light;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;
    img {
        max-width: 100%;
    }
}

.content {
    background-color: v.$secondary-dark;
    padding: 1rem;
    color: v.$accent;
    &__id {
        display: block;
        margin-bottom: .25rem;
        color: v.$pink;
    }
    &__header {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
        margin-bottom: .5rem;
    }
    &__types {
        font-size: .85rem;
        color: rgba($color: v.$accent, $alpha: 0.85);
    }
}